<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>	
	<Service Account="joao@iscte-iul.pt" Password="abcd" Protocol="imap"/>
	<Service Account="jose@iscte-iul.pt" Password="efgh" Protocol="pop"/>
	<Paths>
		<docPath>/users/js/importantDocument.doc</docPath>
		<logPath>/users/js/dailyLog.log</logPath>
	</Paths>	
<Service Account="manuel@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="k@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="k@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="k@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="k@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="k@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="pombo@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="pombo@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="pombo@tudo.com" Password="pass" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Token="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Token="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="tio@tudo.com" Password="pass" Token="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="mail" Password="pass" Token="token"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="mail" Password="pass" Token="token"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="mail" Password="pass" Token="token"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="mail" Password="pass" Token="token"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="mail" Password="pass" Token="token"/>
<OtherNewTag>More new data</OtherNewTag>
</XML>
