<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>
<Service ContadeEmail="es.pos.amigos@hotmail.com" PassdeEmail="afogaoganso69" Password="12345" TokenFacebook="EAAhZBqqT35CgBAM1Ur5ulIGFg1r4xb3W2PWdP66PccxuOn64QnGImxVaNKOYv6Qr9zF5HzN3Y4ZAUA9wFZBngs7y3E2pPNf6UkGUl02toeXinJ8Qigg3Pf3xrtihNsFPecGJ5bgEahCJ56Y7szTJVRNsFy4QbQZD" TokenTwitter1="omTUULTL1Pd2i4XfVORW2Smzf" TokenTwitter2="RatuUpSGLl0LLoajnBw3IojT6fF9vDbC7yJ19FpCav89g65Acj" TokenTwitter3="727114274489913345-4ax0nVCGOl5qUa2dL4StFQzyxUd06sE" TokenTwitter4="BoRBgd7Pn9eaPDdfHx5AFBpbsY9Q8apNuLxtqXhwRYzzW" User="ESProject"/>
<Service ContadeEmail="e" PassdeEmail="e" Password="es" TokenFacebook="e" TokenTwitter1="e" TokenTwitter2="e" TokenTwitter3="e" TokenTwitter4="e" User="ee"/>
</XML>
